body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
}

.container {
  width: 550px;
  height: 779px;
  margin: auto;
  background-color: white;
}

.top-section {
  width: 550px;
  height: 208px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  background-color: rgba(14, 14, 14, 0.78);
  letter-spacing: -0.045em;
}

.top-section-background {
  background-image: url(posters.jpg);
  background-position: 10% 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-section h1 {
  margin: 0;
  font-weight: 800;
  font-size: 42.7947px;
  line-height: 24px;
  margin: 82.44px 0 59px 0;
}

.top-section a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
  margin: 100px 0 69px 0;
}

form {
  transform: translateY(-50%);
}

form div {
  display: flex;
  align-items: center;
  width: 462px;
  height: 38px;
  margin: auto;
  background: #ffffff;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

form label {
  margin: 11px 10px 11px 15px;
}

form input {
  width: 100%;
  /* margin-left: 1em;
  padding: 1em; */
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-family: inherit;
}

form button {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 9px 34.5px 9px 38.5px;
  height: 40px;
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 0px 6px 6px 0px;
}

.movie-container {
  min-height: 571px;
  margin-top: -40px;
}

.placeholder-text {
  padding-top: 212px;
  text-align: center;
  color: #dfdddd;
 
}
.placeholder-text h2 {
  margin-top:0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.fa-size {
  font-size: 4em;
  margin-bottom: 8.75px;
}

